/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "colors";
@import "icons";

html {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ngx-skeleton-loader {
  max-height: 100%;
}
